{% extends "base.html" %}
{% block start %}

<h1>This is my Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus consequatur aperiam eaque deserunt! Suscipit, doloremque amet. Nulla, laborum. Reprehenderit ipsa magni alias debitis, voluptas suscipit molestiae officia perferendis aut voluptatem.</p>
    <a href="/renderhtml/">Render HTML</a>
    <a href="/vote/">Vote</a>
    <a href = "/index/">Index</a>
    <a href = "/search_page/">SearchPage</a>

{% endblock %}